@import "tailwindcss";

body {
  background-color: #f3f4f6;
}

/* Това е за да изглежда скролбарът на историята по-добре */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}